.sticky-footer {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;  
}

body::before {
  display: none;
}

html, body {
  height: 100%;
}

.deleteImg {
	display: inline-block;
	vertical-align: middle;
}
.formInput-image--img img {
	display: block;
	margin-top: 10px;
}

.avatar {
  background-image: url(../img/avatars/images.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  
}
ul {
  padding: 0;
}
.user-message {
  padding: 30px;
}

.my-portfolio__row .button.button--edit,
.my-portfolio__row .button.button--back {
  margin-left: 30px;
}

.my-portfolio__row .button {
  max-height: 45px;
}

.logo--portfolio {
  color: #000;
}

.user-content--custom h1 {
  display: inline-block;
  width: 63%;
  margin-top: 0;
  margin-bottom: 0;
}

.user-content--custom .button--remove {
  float: right;
  margin-left: 30px;
}

.user-content--custom .button--edit {
  float: right;
}
